@tailwind base;
@tailwind components;
@tailwind utilities;


/* .container {
  max-width: 1200px;
  margin: 0 auto;
} */

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.space-y-6 > * + * {
  margin-top: 1.5rem;
}

section {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scrollable {
  max-height: 1000px;
  overflow-y: 100px;
}

/* input[type="text"], select, input[type="number"], textarea, button {
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
} */

/* button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
} */


